
$primary-color: #ff385c;
$secondary-color: #717171;
$font-family: 'Helvetica Neue', sans-serif;

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-4px);
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    color: $primary-color;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  .rating {
    font-size: 14px;
    color: $secondary-color;
    margin-left: 5px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    font-size: 14px;
    color: $secondary-color;
  }

  img {
    max-width: 100%;
    border-radius: 4px;
  }
}
