* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.carousel-container {
  max-width: 700px; /* Empêche les images de déborder du conteneur */
}

.carousel {
  display: flex; /* Utiliser Flexbox pour aligner les images */
  transition: transform 0.3s; /* Ajouter une transition fluide */
}

.carousel-item{
  flex: 0 0 100%; /* Une image à la fois occupe toute la largeur */
  margin-left: auto;
}

.listing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.listing-details {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 700px;
}

.carousel-image {
  width: 700px; /* Définit la largeur de l'image à 100% du conteneur */
  height: 500px; /* Définit la hauteur de l'image (ajustez-la en fonction de vos besoins) */
  object-fit:fill; /* Redimensionne l'image pour qu'elle remplisse complètement le conteneur tout en conservant son ratio d'aspect */
  object-position: center; /* Centre l'image horizontalement et verticalement dans le conteneur */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content:space-around;
  margin-top: 30px;
}

/* Styliser le bouton "Contact Host" */
.contact-host-button {
  background-color: #9e9b9b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Styliser le bouton "Reservation" */
.reservation-button {
  background-color: #177000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Styliser le bouton "Edit Ad" */
.edit-button {
  background-color: #5a73ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Styliser le bouton "Delete Ad" */
.delete-button {
  background-color: #ff060e;
  color: rgb(247, 244, 244);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}
