<h1>Clone Home Page</h1>

<div class="cards">
  <% @adds.each do |add| %>
    <div class="card">
      <h2><%= add.title %></h2>
      <p>Rating: <%= add.rating %></p>
      <%= image_tag add.photo_url %>
    </div>
  <% end %>
</div>
