<h1>Clone Home Page</h1>

<div class="cards">
  <% @adds.each do |add| %>
    <div class="card">
    <%= link_to add_path(add) do %>
    <%= image_tag @image_url %>
      <h2><%= add.title %></h2>
      <p>Rating</p>
      <p>Price <%= add.price%></p>
    <% end %>
    </div>
  <% end %>
<% </div>%>
